@font-face {
  font-family: 'Frensya';
  src:url('../public/font/Frensya.ttf.woff') format('woff'),
      url('Frensya.ttf.svg#Frensya') format('svg'),
      url('Frensya.ttf.eot'),
      url('Frensya.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


